---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { PiLightbulbFill } from "react-icons/pi";
import { RiArrowRightUpLine } from "react-icons/ri";
import projectsData from "../constants/projects.json";
import ProjectCard from "../components/react/Card.tsx";
import socialsData from "../constants/socials.json";


const projects = projectsData;
const socials = socialsData;
---

<Layout title="Jeremy Baum">
	<main>
		<h1 class="font-serif text-[2.5rem] tracking-tight text-primary">
			Jeremy Baum
		</h1>
		<div class="flex items-center gap-1.5 font-medium tracking-tight">
			<h2 class="text-base text-title">engineer</h2>
			<div class="mt-1.5 h-1 w-1 rounded bg-title"></div>
			<h2 class="text-base text-title">solutions architect</h2>
			<div class="mt-1.5 h-1 w-1 rounded bg-title"></div>
			<h2 class="text-base text-title">technical program manager</h2>
		</div>

		<p class="pt-4 text-sm">
			Hi, I'm Jeremy. I focus on making public sector software easier to use and more efficient. I'm a backend engineer, solutions architect, and technical program manager who is passionate about getting the little things right. When I'm not working, you can find me cooking, playing volleyball, or volunteering.
		</p>

		<div class="w-fit grid grid-cols-3 gap-2 pt-4 tracking-tight md:flex md:flex-row md:items-start">
			{
				socials.map((social) => (
					<a
						href={social.url}
						target={social.target}
						rel={social.target === "_blank" ? "noopener noreferrer" : undefined}
						class="group flex items-center underline-offset-4 transition duration-150 ease-in-out md:hover:text-primary md:hover:underline">
						<Icon name={social.icon} size={14} class="mr-1.5" />
						<span class="text-sm">{social.name}</span>
						<RiArrowRightUpLine className="opacity-0 transition-opacity duration-150 md:group-hover:opacity-100" />
					</a>
				))
			}
		</div>

		<section class="pt-8">
			<h2 class="font-medium tracking-tight text-title">Projects</h2>
			<p class="pt-4 text-sm">
				Most of my coding projects are available upon request. You can find some of my public projects below!
			</p>
			<div class="pt-1.5">
				{
					projects.map((project) => (
						<ProjectCard project={project} client:load />
					))
				}
			</div>
			<div class="group">
				<p
					class="mt-4 w-fit rounded-md border border-body/20 bg-hoverColor/60 px-2 py-1 text-xs text-body transition-all duration-300 ease-in-out">
					<PiLightbulbFill
						className="-mt-0.5 inline-block transition-all duration-300 ease-in-out md:group-hover:text-primary"
					/>
					Feel free to explore my
					<a
						href="https://github.com/jbaum53"
						rel="noopenner noreferrer"
						target="_blank"
						class="font-medium text-body underline underline-offset-2 transition-all duration-150 ease-in-out md:hover:text-primary md:group-hover:text-primary"
						>GitHub</a
					> for more projects. Most of my projects are available upon request!
				</p>
			</div>
		</section>

	</main>
</Layout>
